:root {
    --color-primary: rgba(47, 31, 68, 0.842);
    --color-secondary: rgb(7, 56, 112);
    --color-light: rgb(255, 255, 255);
    --text-light: white;
    --text-dark: rgb(0, 61, 13);
    --body-background: rgb(247, 236, 204);
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.rounded{
    border-radius: 10px;
}

.flex {
    display: flex;
}



 /* a {
    text-decoration: none;
    color: var(--color-light);
} */

.h2{
    font-size: 20px;
    color: rgb(0, 85, 0);
}

.find-plants-container{
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find-plants {
    background-color: var(--color-light);
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: auto;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 2px 5px;
    justify-content: space-between;
    align-items: center;
}

/* .content{
    /* display: flex; */
    /* display: flex;
    position: relative;
    left: 33vw;
    width: 60vw;
    color: var(--text-dark);
    font-size: 25px;

} */



/* .sidebar{
    font-size: 80px;
    position: relative;
    left: 50px;
    display: flex;
} */

/* .title {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-light);
    font-size: 50px;
    margin-left: 50px;
    
} */


/* #about{
    display: flex;
    background-color: var(--body-background);
    position: relative;
    top: 50vh;
    padding-top: 80px;
} */

#hero {
    background-image: url(./images/o0i97sjusso11.jpg);
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9000;
}

#search-button{
    color: var(--text-light);
    padding: 5px 10px;
    margin: 2px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(rgb(0, 150, 0) 0, rgb(0, 85, 0) 100%);
    transition: ease .2s;
    position: relative;
    top: 0;
}

#search-button:hover{
    color: var(--text-light);
    margin: 0px;
    padding: 7px 12px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(rgb(0, 167, 0) 0, rgb(0, 110, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 2px;
    top: -2px;
}



/* #links {
    list-style: none;
    display: flex;
    margin-right: 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
} */

    /* #links > li {
        padding: 0 30px;
    }

        #links >li a {    
            color: var(--color-light);
            transition: 0.5s ease;
        }

        #links > li > a:hover {
            color: rgb(223, 242, 255);
            transition: 0.5s ease;
            } */



/* tablet layout */


/* mobile layout */
