html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-primary: rgba(47, 31, 68, 0.842);
    --color-secondary: rgb(7, 56, 112);
    --color-light: rgb(255, 249, 230);
    --text-light: white;
    --text-dark: black;
    --body-background: rgb(247, 236, 204);
}



a {
    text-decoration: none;
    color: var(--color-light);
}

header {
    /* fixed to top of screen */
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 9000;
}

.sidebar{
    font-size: 80px;
    position: relative;
    left: 50px;
    display: flex;
}

#links {
    list-style: none;
    display: flex;
    margin-right: 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

#links > li {
    padding: 0 30px;
}

#links >li a {    
    color: var(--color-light);
    transition: 0.5s ease;
}

#links > li > a:hover {
    color: rgb(223, 242, 255);
    transition: 0.5s ease;

}

/* #AMform{
    display: flex;

    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: aquamarine;
} */

#hero {
    background-image: url(./images/o0i97sjusso11.jpg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9000;
}

.card {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    position: relative;
    top: calc(25vh + 40px );
    left: 25vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.315) 5px 5px 5px 5px;
}


.title {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-light);
    font-size: 50px;
    margin-left: 50px;

}

#about{
    display: flex;
    background-color: var(--body-background);
    position: relative;
    top: 50vh;
    padding-top: 80px;
}

.content{
    /* display: flex; */
    display: flex;
    position: relative;
    left: 33vw;
    width: 60vw;
    color: var(--text-dark);
    font-size: 25px;

}